<ion-header [translucent]="true" class="header">
  <ion-img class="logo-img" src="assets/Rectangle 24.svg" alt="Imagen del icono"></ion-img>
  <div>
    <ion-title>Presiona el icono para hablar</ion-title>
    <ion-toggle aria-label="Success toggle" color="success" [checked]="true"></ion-toggle>
  </div>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/IMG-20240827-WA0076.jpg"></ion-img>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/IMG-20240827-WA0077.jpg"></ion-img>
        <span>Pregunta</span>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/IMG-20240827-WA0078.jpg"></ion-img>
        <span>Impresionado</span>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/IMG-20240827-WA0079.jpg"></ion-img>
        <span>Ir al baño</span>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/IMG-20240827-WA0080.jpg"></ion-img>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/IMG-20240827-WA0081.jpg"></ion-img>
        <span>Feliz - Alegre</span>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/IMG-20240827-WA0082.jpg"></ion-img>
        <span>No ruido</span>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/IMG-20240827-WA0083.jpg"></ion-img>
        <span>Me encanta</span>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/IMG-20240827-WA0084.jpg"></ion-img>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/IMG-20240827-WA0085.jpg"></ion-img>
        <span>No me encanta</span>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/IMG-20240827-WA0086.jpg"></ion-img>
        <span>No</span>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/IMG-20240827-WA0087.jpg"></ion-img>
        <span>Estoy mal</span>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/IMG-20240827-WA0088.jpg"></ion-img>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/IMG-20240827-WA0089.jpg"></ion-img>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/IMG-20240827-WA0090.jpg"></ion-img>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/IMG-20240827-WA0091.jpg"></ion-img>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/IMG-20240827-WA0092.jpg"></ion-img>
        <span>Sí</span>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/IMG-20240827-WA0093.jpg"></ion-img>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/IMG-20240827-WA0094.jpg"></ion-img>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/IMG-20240827-WA0095.jpg"></ion-img>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/IMG-20240827-WA0096.jpg"></ion-img>
        <span>No tengo lapíz</span>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/IMG-20240827-WA0097.jpg"></ion-img>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/IMG-20240827-WA0098.jpg"></ion-img>
        <span>Quiero hablar</span>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/IMG-20240827-WA0099.jpg"></ion-img>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/IMG-20240827-WA0100.jpg"></ion-img>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/IMG-20240827-WA0101.jpg"></ion-img>
        <span>Estoy enfermo</span>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/IMG-20240827-WA0102.jpg"></ion-img>
        <span>Haciendo deberes</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>