.header {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 6rem;
}

.card-img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover; /* Mantiene la proporción de la imagen */
}