<ion-header [translucent]="true" class="header">
  <ion-img class="logo-img" src="assets/Rectangle 24.svg" alt="Imagen del icono"></ion-img>
  <div>
    <ion-title>Presiona el icono para hablar</ion-title>
    <ion-toggle aria-label="Success toggle" color="success" [checked]="true"></ion-toggle>
  </div>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/adiós.png"></ion-img>
        <span>Adiós</span>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/algomemolesta.png"></ion-img>
        <span>Algo me molesta</span>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/asustado.png"></ion-img>
        <span>Asustado</span>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/ayuda.png"></ion-img>
        <span>Ayuda</span>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/baño.png"></ion-img>
        <span>Baño</span>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/bien.png"></ion-img>
        <span>Bien</span>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/corregir.png"></ion-img>
        <span>Corregir</span>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/enfermo.png"></ion-img>
        <span>Enfermo</span>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/gracias.png"></ion-img>
        <span>Gracias</span>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/hola.png"></ion-img>
        <span>Hola</span>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/levantarlamano.png"></ion-img>
        <span>Levantar la mano</span>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/megustaesto.png"></ion-img>
        <span>Me gusta esto</span>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/muchoruido.png"></ion-img>
        <span>Mucho ruido</span>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/noentiendo.png"></ion-img>
        <span>No entiendo</span>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/no.png"></ion-img>
        <span>No</span>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/nometoques.png"></ion-img>
        <span>No me toques</span>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/nopuedo.png"></ion-img>
        <span>No puedo</span>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/nose.png"></ion-img>
        <span>No sé</span>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/notengolonecesario.png"></ion-img>
        <span>No tengo lo necesario</span>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/perdón.png"></ion-img>
        <span>Perdón</span>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/preocupado.png"></ion-img>
        <span>Preocupado</span>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/salir.png"></ion-img>
        <span>Salir</span>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/sed.png"></ion-img>
        <span>Sed</span>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/sí.png"></ion-img>
        <span>Sí</span>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/sipuedo.png"></ion-img>
        <span>Si puedo</span>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" size="12">
        <ion-img class="card-img" src="assets/terminar.png"></ion-img>
        <span>Terminar</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>